
/* menu window*/
#menu_button {
    display: flex;
    position: absolute;
    height: 80px;
    width: 80px;
    z-index: 2;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.menu_window {
    position: fixed;
    z-index: 6;
    background: #01a4e1;
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.open_menu_window {
    visibility: visible;
    margin: 0;
    padding: 0;
    display: flex;
}

.close_button {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: left;
    left: 10%;
    top: 5%;
    cursor: pointer;
}

.about_section_header {
    padding: 45px 45px 0 45px;
    margin-bottom: 30px;
    border-bottom: solid black;
    justify-content: space-between;
}

.about_group_header {
    padding: 80px;
    display: flex;
    justify-content: space-around;
}

.about_contact_header {
    margin: 30px;
}

.about_links_header {
    margin: 30px;
}

.about_exp_header {
    margin: 30px;
}

.about_group_header h2 {
    font-family: "GermanFont", sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.about_group_header p {
    margin: 30px 0 30px 0;
    font-size: 30px;
    line-height: 2;
    font-weight: 900;
}

.about_contact_header p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about_links_header p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about_exp_header p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about_icons_header {
    display: flex;
    justify-content: center;
}

.about_icons_header img {
    width: 70px;
    height: 70px;
    margin: 0 25px 0 25px;
    cursor: pointer;
}

/* end menu window */

/* header */

.header_name {
    display: flex;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-30%);
    font-size: 80px;
    font-family: "GermanFont", cursive, serif;
    color: white;
    -webkit-text-stroke: 0.1px rgb(62, 170, 205);
    top: 20px;
    margin-top: 25px;
}

#logo {
    display: flex;
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 300px;
    left: 35%;
    transform: translateX(-25%);
    top: -50px;
}

#header_back {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* end header */


#backbutton {
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    justify-content: left;
    padding-left: 40px;
    padding-top: 33px;
}

#backbutton:hover {
    cursor: pointer;
}

body {
    font-family: "GermanLight", sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

#AddressTest {
    text-decoration: underline 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-bottom: 110px;
}

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "GermanFont", sans-serif;
}

.cont_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    display: grid;
    width: 300px;
    
}

input, select, option, label {
    padding: 10px;
    margin: 5px;
}

.book_button {
    cursor: pointer;
    font-size: 45px;
    font-weight: 900;
    font-family: "GermanFont", sans-serif;
    background-color: rgb(109, 109, 243);
    border-radius: 25px;
    padding: 10px 5px 10px 5px;
}

/* pop up window */
.popup {
    width: 500px;
    height: 300px;
    padding: 15px 20px 85px 20px;
    background-color: white;
    border-radius: 6px;
    border: solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open_popup {
    visibility: visible;
    top: 70%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-size: 60px;
    margin: 50px 0 20px 0;
    font-family: "GermanFont", sans-serif;
}

.popup p {
    padding: 0;
    margin: 0 0 90px 0;
    font-size: 30px;
}

.popup h3 {
    font-size: 45px;
    font-weight: 900;
    font-family: "GermanFont", sans-serif;
    background-color: rgb(109, 109, 243);
    border-radius: 25px;
    padding: 10px 5px 10px 5px;
}

@media (max-width: 600px) {
    /* reusable code */

    .menu_window {
        display: grid;
    }

    .close_button {
        width: 50px;
        height: 50px;
    }

    .open_menu_window {
        display: grid;
        position: fixed;
    }

    .about_group_header {
        display: grid;
        padding: 30px;
    }

    .about_group_header h2 {
        font-size: 30px;
    }

    .about_group_header p {
        font-size: 20px;
        line-height: 1;
    }

    .about_icons_header img {
        width: 40px;
        height: 40px;
    }

    #menu_button {
        margin-left: 35px;
        margin-top: 170px;
        width: 60px;
        height: 60px;
    }

    .header_name {
        line-height: 0.8;
        left: 55%;
    }

    #logo {
        width: 200px;
        height: 200px;
        left: 10%;
        top: -30px;
    }

    .container h2 {
        margin-bottom: 0;
        margin-top: 190px;
    }

    .container h2 {
        display: grid;
    }

    #backbutton {
        width: 50px;
        height: 50px;
        margin-top: 110px;
    }

    .popup {
        width: 300px;
        height: 250px;
    }

    .popup h2 {
        margin-top: 30px;
    }

    .popup p {
        margin: 0;
    }

    #AddressTest {
        display: flex;
        justify-content: center;
    }
}

@font-face {
    font-family: "GermanFont";
    src: url("./fonts/tgl-0-1451-engschrift/TGL_0-1451Eng.ttf");
}

@font-face {
    font-family: "GermanLight";
    src: url("./fonts/Neutra-Text-Light-Alt_FontYukle/Neutra\ Text\ Light\ Alt.ttf");
}
